* {
 font-family: 'Poppins', sans-serif;

}

::selection {
 color: #ffffff;
 background-color: #f7b300;
}

body {
 background-color: #f3ede5;
 padding-left: 110px;
 padding-right: 110px;
}

.navbar {
 padding-top: 40px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 color: #797774;
}

.nav_links {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.signin {
 border: none;
 background: transparent;
 font-size: 16px;
 padding-right: 30px;
 color: #797774;
}

.tryforfree {
 background-color: rgba(19, 52, 22, 255);
 border: transparent;
 border-radius: 5px;
 color: #fff;
 padding: 18px 25px 18px 25px;
 font-size: 18px;

}




/* Navbar End */







.herow_section {
 height: 87vh;
 color: #797774;
}

.herow_main {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 80px;
 padding-bottom: 60px;

}


.herow_main_section>h1{
 font-size: 60px;
 color: #000000;
}
.herow_main_section>h1 >span{
 color: #f7b300;
}
.herow_main_section>img {
 height: 450px;
}
.herow_main_section>.herow_review{
 display: flex;
 align-items: center;
 padding-top: 20px;
}
.herow_main_section>.herow_review>.Capterra{
 padding-left: 25px;

}
.herow_main_section>.herow_review>span{
 font-size: 20px;
 padding: 10px;
 color: #468f01;
}
.herow_buttom{
 /* justify-content: center; */
 /* align-items: center; */
}
.componylogo{
 display: flex;
 justify-content: space-between;
  align-items: center;
}
.componylogo>img{
 padding: 40px;
}



@media only screen and (max-width: 1080px){
 body{
  padding-left: 60px;
  padding-right: 60px;
 }
}
.manu_logo{
 display: none;
}
@media only screen and (max-width: 1000px){
 body{
  padding-left: 60px;
  padding-right: 60px;
 }
 .nav_links{
  display: none;
 }
 .sign_in_up{
  display: none;
 }
 .manu_logo{
  display: block;
 }
 .herow_main_section_img{
  display: none;
 }
 .herow_main_section>h1{
  font-size: 0px;
}
}